* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


h2 {
    font-family: 'Celtic Garamond the 2nd', sans-serif;
    z-index: 0;
}

h1 {
    font-family: 'Celtic Garamond the 2nd', sans-serif;
    z-index: 0;
    font-size: xx-large;
}

hr {
    margin-top: 35px;
    margin-bottom: 35px;
    padding-left: 30%;
    padding-right: 30%;
}

.about-img {
    width: 100%;
}

.card {
    padding-left: 10px;
    padding-right: 10px;
    border: none;
}

.card-img {
    height: 200px;
    object-fit: cover;
}

.about-us-img {
    background-image: url("../img/about-us-hiking-3.jpg");
    background-size: cover;
    background-position: center 85%;
    width: 100%;
    height: 100vh;
 }

.contact-us-img {
    background-image: url("../img/contact-us.jpg");
    background-size: cover;
    background-position: center 50%;
    width: 100%;
    height: 100vh;
}

#about-text-container {
    position: absolute;
    bottom: 60%;
    left: 5%;
    z-index: 20;
    color: white;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

#start-exploring {
    color: white;
    border-color: white;
}

#start-exploring:hover {
    background: rgba(100, 100, 100, 0.2);
}


#popular-tours-title {
    padding-bottom: 20px;
}

.our-mission{
    position: absolute;
    bottom: 30%;
    left: 5%;
    z-index: 20;
    color: white;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

.clientphoto{
    padding-left: 10px;
    padding-right: 10px;
    border: none;
}

#our-mission-learn-more{
    color: white;
    border-color: white;
}

.white-button{
    text-decoration: none;
    color: white;
}

.tour-img{
    width: 100%;
    height: 100vh;
}

.tours-main{
    background-image: url("../img/tours/tours-main.jpg");
    background-size: cover;
    background-position: center 50%;
    width: 100%;
    height: 100vh;
    padding-bottom: 200px;

}

#our-tours{
    position: absolute;
    bottom: 30%;
    left: 5%;
    z-index: 20;
    color: white;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

.contact-us-titles{
    padding-left: 110px;
}

.message-box{

}