* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


h2 {
    font-family: 'Celtic Garamond the 2nd', sans-serif;
    z-index: 0;
}

h1 {
    font-family: 'Celtic Garamond the 2nd', sans-serif;
    z-index: 0;
    font-size: xx-large;
}

hr {
    margin-top: 35px;
    margin-bottom: 35px;
    padding-left: 30%;
    padding-right: 30%;
}

.masthead-img {
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.btn-white {
    text-decoration: none;
    color: white;
    border-color: white;
}
