<hr />
<footer class="container">
  <div class="row">
    <!-- Newsletter -->
    <form id="newsletter" class="form-group col-6">
      <label for="email-input"><h4>Subscribe to our Newsletter</h4></label>
      <div class="row">
        <div class="col-6">
          <input type="email" class="form-control" id="email-input" aria-describedby="email-info"
                 placeholder="Enter email">
        </div>
        <button type="submit" class="btn btn-primary col-3">Submit</button>
      </div>
      <small id="email-info" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </form>

    <div class="social col-auto ms-auto">
      <h4>Follow us on</h4>
      <a href="#" class="fa-brands fa-3x fa-instagram"></a>
      <a href="#" class="fa-brands fa-3x fa-twitter"></a>
      <a href="#" class="fa-brands fa-3x  fa-facebook"></a>
    </div>
  </div>
</footer>